<% content_for :head do %>
  <%= stylesheet_link_tag 'uncensored_reviews' %>
<% end %>

<div class="review">
  <div id="body" class="body"></div>
  <div id="author" class="author"></div>
  <div id="location" class="location"></div>
</div>

<% content_for :foot do %>
  <%= javascript_include_tag 'uncensored_reviews' %>
<% end %>